/*  ========================================================================  *\
    
    * O V E R V I E W
  
    * This file describes the components that make up the page.
    * From their internal layout, the color of their text, etc.
  
    * It was visible until now, but here it is very strongly enforced by:
    * BEM (Block - Element - Modifier) thinking in the code.

    * FHD or Tablet or Mobil element-size(px) to vievport-size(vw) calc.;
    * Viewport Width = width - ca.1vw ( min. 8px to max. 20px = scroll width);

    * FHD width calc. = 1920px - 1vw or 20px(19.20) = 1900px;
    * HD or Tablet width calc. = 1024px - 1vw or 10px(10.24) = 1014px;
    * Mobil width calc. = 768px - 1vw or 8px(7.68) = 760px;

\*  ========================================================================  */

/*  ========================================================================  *\

    * C O M M E N T

\*  ========================================================================  */

h1 {
    text-transform: none;
    font:           normal normal bold 16px/24px Montserrat;
    letter-spacing: 0px;
    color:          #FFFFFF;
    opacity:        1;
}

h2, h3 {
    text-transform: uppercase;
    font:           normal normal bold 10px/15px Montserrat;
    letter-spacing: 2.4px;
    opacity:        1;
}

h2 { 
    color: #FFFFFF; 
}

h3 {
    margin-left: 4.0625vw;
    color:       #6200EA; 
}

@media(max-width: 768px) {
    h3 {
        margin-left: 10.416vw;  /*  80px  */
        color:       #6200EA; 
    }
}

.user-box-text,
.chat-content-left-text,
.chat-content-right-text {
    text-transform: none;
    text-align:     left;
    letter-spacing: 0px;
}

    .chat-content-left-text,
    .chat-content-right-text {
        font: normal normal normal 14px/16px Montserrat;
    }

    .chat-content-right-text {
        color:   #FFFFFF;
        opacity: 1;
    }

    .chat-times-left,
    .chat-times-right,
    .chat-typing {
        text-transform: uppercase;
        font-size:      1.333vh;    /*  12px*1.2=14.4px/10.8(1vh)=1.333vh  */
        font-weight:    bold;
        letter-spacing: 0.15vw;     /*  3px  */
        color:          #b2acba;
    }

    .user-box-text {
        font: normal normal normal 14px/20px Montserrat;
    }

    .user-box-text,
    .form-text,
    .chat-content-left-text {
        color:   #211138;
        opacity: 1;
    }

.form-text {
    text-transform: none;
    text-align:     left;
    font:           normal normal bold 14px/18px Montserrat;
    letter-spacing: 0px;
}

.user-box {
    display:       inline-block;
    margin:        0;                        /*  0px  */
    padding:       1.852vh;                  /*  20px  */
    border-left:   0.555vh solid #FFFFFF;  /*  5px*1.2=6px/10.8(1vh)=0.555vh  */
}

    .user-box:hover,
    .user-box:active {
        border-left:   0.555vh solid #6200ea;  /*  5px*1.2=6px/10.8(1vh)=0.555vh  */
    }

.button-text {
    text-transform: uppercase;
    text-align:     center;
    font:           normal normal bold 10px/12px Montserrat;
    letter-spacing: 2.4px;
    color:          #6200EA;
    opacity:        1;
}

a, a:hover, 
a:visited,
a:active {
    text-decoration: none;
    cursor:          pointer;
}