/*  ========================================================================  *\
    
    * O V E R V I E W
          
    * This file manages the layout of the page.
    * Instead of placing them separately, we link them to the components.

    * This creates a connected but separate system.
    * Which does nothing but say some parameters:
    * For example: what size should they be and where should they appear.
    
    * The classes declared here can be called on any container.
    * They wear the right size and behave the right way.

    * FHD or Tablet or Mobil element-size(px) to vievport-size(vw) calc.;
    * Viewport Width = width - ca.1vw ( min. 8px to max. 20px = scroll width);

    * FHD width calc. = 1920px - 1vw or 20px(19.20) = 1900px;
    * HD or Tablet width calc. = 1024px - 1vw or 10px(10.24) = 1014px;
    * Mobil width calc. = 768px - 1vw or 8px(7.68) = 760px;
    
\*  ========================================================================  */

/*  ========================================================================  *\
    
    * C O M M E N T
    
    * CONTAINER
    *     .container;
    *      @media(max-width: 768px);

    * ASIDE
    *     section;
    *         .search;
    *         .img-search;
    *     aside;
    *         figure;
    *         .button;
    
    * MAIN
    *     header;
    *     main;
    *         .comment;
    *         .form;

\*  ========================================================================  */


/*  ========================================================================  *\
    C O N T A I N E R
\*  ========================================================================  */

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "search header"
        "aside main";
}

@media(max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header"
            "search"
            "aside"
            "main";
    }
}


/*  ========================================================================  *\
    A S I D E
\*  ========================================================================  */

section {
    grid-area:  search;

    height:     8.888vh;  /*  80px*1.2=96px/10.8=8.888vh  */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity:    1;
}

    .search-write {
        display:          flex;
        justify-content:  space-between;
        align-items:      center;

        margin:           1.666vh 2.777vh 1.666vh 2.037vh;  /*  18px 30px 18px 22px - (15px*1.2=18px/10.8(1vh)=1.666vh)  */
        padding:          1.481vh 1.481vh 1.481vh 2.963vh;  /*  16px 16px 16px 32px  */

        background:       #F4F3F5 0% 0% no-repeat padding-box;
        opacity:          1;
    }

        .search-icon {
            text-align:     center;
            font:           normal normal normal 20px/20px Font Awesome 5 Free;
            letter-spacing: 0px;
            color:          #211138;
            opacity:        0.25;
        }


aside {
    grid-area: aside;
    height:    auto;
}

    figure {
        grid-area: list;

        height:           53.333vh;  /*  480px*1.2=576px/10.8=53.333vh */
        background-color: yellowgreen;
    }

    .button {
        grid-area: button;

        height:           8.888vh;  /*  80px*1.2=96px/10.8=8.888vh */
        background-color: blue;
    }

/*  ========================================================================  *\
    M A I N
\*  ========================================================================  */


header {
    grid-area:        header;

    display:          flex;
    justify-content:  space-between;
    align-items:      center;

    height:           8.888vh;  /*  80px*1.2=96px/10.8=8.888vh */
    padding-left:     3.703vh;  /*  40px/10.8=3.703vh  */
    background-color: #6200ea;
}

    .user-name {
        float: left;
    }

    .site-logo,
    .site-logo-a,
    .site-logo-img {
        width:  max(126px, 9.375vw);  /*  min.:70% or 180px/19.2(1vw)=9.375vw  */
        height: max(35px, 2.604vw);   /*  min.:70% or 50px/19.2(1vw)=2.604vw  */
    }

    .student-name {
        display:        flex;
        flex-direction: row;
        align-items:    center;
        float:          right;
    }

        .student-img {
            float:         right;
            width:         4.444vh;  /*  40px*1.2=48px/10.8=4.444vh;  */
            height:        4.444vh;  /*  40px*1.2=48px/10.8=4.444vh;  */
            margin:        2.777vh;  /*  30px/10.8=2.222vh  */
            border:        1px;
            border-radius: 50%;
        }

main {
    grid-area: main;

    height:    auto;
}

    .comment {
        grid-area: comment;

        height: 75.555vh;  /*  680px*1.2=816px/10.8=75.555vh */
        background-color: yellow;
    }

    .form {
        grid-area: messeage;

        height: 15.555vh;  /*  140px*1.2=168px/10.8=15.555vh */
        background-color: aqua;
    }