/*  ========================================================================  *\
    
    * O V E R V I E W
          
    * This file manages the layout of the page.
    * Instead of placing them separately, we link them to the components.

    * This creates a connected but separate system.
    * Which does nothing but say some parameters:
    * For example: what size should they be and where should they appear.
    
    * The classes declared here can be called on any container.
    * They wear the right size and behave the right way.

    * FHD or Tablet or Mobil element-size(px) to vievport-size(vw) calc.;
    * Viewport Width = width - ca.1vw ( min. 8px to max. 20px = scroll width);

    * FHD width calc. = 1920px - 1vw or 20px(19.20) = 1900px;
    * HD or Tablet width calc. = 1024px - 1vw or 10px(10.24) = 1014px;
    * Mobil width calc. = 768px - 1vw or 8px(7.68) = 760px;
    
\*  ========================================================================  */

/*  ========================================================================  *\
    
    * C O M M E N T

    * C O N T A I N E R
    *     .container;
    *      @media(max-width: 768px);

    * S E A R C H
    *     .search-section;
    *         .search-form;
    *             .search;
    *                 .search:focus;
    *                 .search::placeholder;
    *             .search-button;
    *                 .search-icon;

    * A S I D E
    *     aside;
    
    * U S E R - L I S T
    *         ul;
    *             li;
    *                 .user-box-text;
    *         @media(max-width: 768px);
    
    * U S E R - I M A G E S
    *             .user-images-header;
    *             .user-images-left;
    *             .user-images-right;
    
    * U S E R - L I S T - B U T T O N
    *         .user-list-button;
    
    * H E A D E R
    *     header;
    *         .user-name;
    *         .site-logo,
    *         .site-logo-a,
    *         .site-logo-img;
    *         .student-name;
    
    * M A I N
    *     C H A T
    *         .chat;
    *             .chat::-webkit-scrollbar;
    *             .chat-message;
    *             .clearfix;
    *             .chat-times-left; 
    *             .chat-typing;
    *             .chat-times-right;
    *              @media(max-width: 768px);
    *             .chat-typing;
    *             .chat-content-left;
    *             .chat-content-right;     

    *     M E S S E A G E
    *         .message-section;
    *             .message-form;
    *                 .message-textarea;
    *                     .message-textarea:focus;
    *                     .message-textarea::placeholder;
    *                     .message-paperclip-icon;
    *                     .message-smile-icon;
    *                     .message-paperclip-icon;
    *                 .message-button;
    *                     .button-icon;

\*  ========================================================================  */


/*  ========================================================================  *\
    C O N T A I N E R
\*  ========================================================================  */

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "search header"
        "aside main";
}

@media(max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header"
            "search"
            "aside"
            "main";
    }
}


/*  ========================================================================  *\
    S E A R C H
\*  ========================================================================  */

.search-section {
    grid-area:     search;
    width:         auto;
    height:        8.611vh;              /*  80px*1.2=96px-3px(border-bottom)=93px/10.8=8.611vh  */
    border-bottom: 1px solid #F4F3F5;
    background:    #FFFFFF;
    opacity:       1;
}

    .search-form {
        display:         flex;
        justify-content: space-between;

        height:          3.708vh;                          /*  40px  */
        margin:          1.666vh 2.777vh 1.666vh 1.852vh;  /*  18px 30px 18px 20px  */
        background:      #F4F3F5;
        opacity:         1;
    }  

        .search {
            float:            left;
            width:            calc(100% - 5.555vh);       /*  100% - search-button-width(5.555vh)  */
            height:           3.154vh;                    /*  40px - 2*3px(border-bottom=2*0.277vh=0.554vh)=3.154vh  */
            padding:          0.926vh 0 0.926vh 3.333vh;  /*  10px 0px 10px 36px  */
            border-bottom:    3px solid;
            border-color:     transparent;
            outline:          none;
            background-color: #F4F3F5;
        }

            .search:focus {
                border-bottom: 3px solid #6200ea;
                opacity:       1;
            }

            .search::placeholder {
                font-weight: bold;
                opacity:     0.25;
            }

        .search-button {
            float:            right;
            cursor:           pointer;
            width:            5.555vh;    /*  60px  */
            height:           5.555vh;    /*  60px  */
            margin:           0 auto;
            padding:          1.111vh;    /*  12px  */
            border:           none;
            border-radius:    0;
            background-color: #F4F3F5;
        }

            .search-icon {
                text-align:     center;
                letter-spacing: 0px;
                color:          #211138;
                opacity:        0.25;
            }


/*  ========================================================================  *\
    A S I D E
\*  ========================================================================  */

aside {
    grid-area: aside;

    width:   auto;
    height:  auto;
}


    /*  ========================================================================  *\
        U S E R - L I S T
    \*  ========================================================================  */

    ul {
        width:            19vw;       /*  365px*1.2=438px/10.8(1vh)=40.555vh  */
        height:           auto;
        background-color: #FFFFFF;
    }

        li {
            height:        5.556vh;              /*  80px*1.2=96px/10.8(1vh)=8.888vh-paddings(2*1.666vh=3.332vh)=5.556vh  */
            padding:       1.666vh;              /*  15px*1.2=18px/10.8(1vh)=1.666vh  */
            border-bottom: 1px solid #F4F3F5;
        }

            .user-box-text {
                white-space:    nowrap;
                width:          19vw;                  /*  365px*1.2=438px/10.8(1vh)=40.555vh  */
                text-overflow:  ellipsis;
                overflow:       hidden;
                margin:         0 0 0.5555vh 4.063vw;  /*  0 0 6px 80px  */
            }

@media(max-width: 768px) {
    aside {
        grid-area: aside;
        
        height:  auto;
    }

        ul {
            width:            85.973vw;   /*  660px/7.68(1vw)=85.973vw  */
            height:           auto;
            background-color: #FFFFFF;
        }
    
            li {
                height:        5.556vh;              /*  80px*1.2=96px/10.8(1vh)=8.888vh-paddings(2*1.666vh=3.332vh)=5.556vh  */
                padding:       1.666vh;              /*  15px*1.2=18px/10.8(1vh)=1.666vh  */
                border-bottom: 1px solid #F4F3F5;
            }
    
                .user-box-text {
                    white-space:    nowrap;
                    width:          72.916vw;               /*  560px/7.68(1vw)=72.916vw  */
                    text-overflow:  ellipsis;
                    overflow:       hidden;
                    margin:         0 0 0.5555vh 16.276vw;  /*  0 0 6px 125px  */
                }
}


    /*  ========================================================================  *\
        U S E R - I M A G E S
    \*  ========================================================================  */

            .user-images-header {
                float:         right;
                width:         4.444vh;  /*  40px*1.2=48px/10.8=4.444vh;  */
                height:        4.444vh;  /*  40px*1.2=48px/10.8=4.444vh;  */
                margin:        2.777vh;  /*  30px/10.8=2.222vh  */
                border:        1px;
                border-radius: 50%;
            }

            .user-images-left {
                float:          left;
                width:          5.555vh;  /*  50px*1.2=60px/10.8(1vh)=5.555vh  */
                height:         5.555vh;  /*  50px*1.2=60px/10.8(1vh)=5.555vh  */
                margin-right:   0.937vw;
                left:           0;
                border-radius:  50%;
            }

            .user-images-right {
                position:       absolute;
                width:          5.555vh;  /*  50px*1.2=60px/10.8(1vh)=5.555vh  */
                height:         5.555vh;  /*  50px*1.2=60px/10.8(1vh)=5.555vh  */
                right:          0;
                border-radius:  50%;
                bottom:         1.111vh;
              }


    /*  ========================================================================  *\
        U S E R - L I S T - B U T T O N
    \*  ========================================================================  */

    .user-list-button {
        cursor:           pointer;
        width:            calc(100% - 24px);
        height:           auto;
        margin:           12px;
        padding:          12px;
        border:           2px solid #6200EA;
        border-radius:    24px;
        opacity:          1;
        background-color: #FFFFFF;
    }


/*  ========================================================================  *\
    H E A D E R
\*  ========================================================================  */


header {
    grid-area:        header;

    display:          flex;
    justify-content:  space-between;
    align-items:      center;

    height:           8.888vh;        /*  80px*1.2=96px/10.8=8.888vh */
    padding-left:     3.703vh;        /*  40px/10.8=3.703vh  */
    background-color: #6200ea;
}

    .user-name { 
        float: left; 
    }

    .site-logo,
    .site-logo-a,
    .site-logo-img {
        width:  max(126px, 9.375vw);  /*  min.:70% or 180px/19.2(1vw)=9.375vw  */
        height: max(35px, 2.604vw);   /*  min.:70% or 50px/19.2(1vw)=2.604vw  */
    }

    .student-name {
        display:        flex;
        flex-direction: row;
        align-items:    center;
        float:          right;
    }


/*  ========================================================================  *\
    M A I N
\*  ========================================================================  */

main {
    grid-area: main;

    height:    auto;
}


    /*  ========================================================================  *\
        C H A T
    \*  ========================================================================  */

    .chat {
        height:            64.445vh;                       /*  680px*1.2=816px/10.8(1vh)=75.555vh
                                                              -padings(4.444vh+6.666vh=11.11vh)=64.445vh  */
        padding:           4.444vh 3.75vw 6.666vh 3.75vw;  /*  48px 60px 72px 60px  */
        overflow-y:        scroll;
  
    /* Hide scrollbar for IE, Edge and Firefox */
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;     /* Firefox */

        background-color:  #F4F3F5;
      }

    /* Hide scrollbar for Chrome, Safari and Opera */
        .chat::-webkit-scrollbar { 
            display: none; 
        }
      
        .chat-message { 
            position: relative;
            float:    right;
        }

        .clearfix {
            display:  table;
            clear:    both;
        }
      
        .chat-times-left {
            float: left;
            margin: 0 0 0.555vh 7.777vh;  /* 5px*1.2=6px/10.8(1vh)=0.555vh & 60px*1.2=72px/19.2(1vw)=3.75vw   */
        }

        .chat-times-right {
            float:  right;
            margin: 0 7.777vh 0.555vh 30vw;  /* 5px*1.2=6px/10.8(1vh)=0.555vh & 60px*1.2=72px/19.2(1vw)=3.75vw   */
        }

        @media(max-width: 768px) {
            .chat-times-right {
                float:  right;
                margin: 0 7.777vh 0.555vh 27vw;  /* 5px*1.2=6px/10.8(1vh)=0.555vh & 60px*1.2=72px/19.2(1vw)=3.75vw   */
            }
        }

        .chat-typing {
            float:  left;
            margin: 18.518vh 0 0.555vh 7.777vh;  /*  200px 0px 6px 720px  */
        }
      
        .chat-content-left {
            width:            37.5vw;               /*  600px*1.2=720px/19.2(1vw)=37.5vw  */
            padding:          2.222vh 1.25vw;       /*  20px*1.2=24px/10.8(1vh)=2.222vh & 20px*1.02=24px/19.2(1vw)=1.25vw  */
            border-radius:    0 15px 15px 15px;
            margin:           0 0 1.111vh 7.777vh;  /*  10px*1.2=12px/10.8(1vh)=1.111vh & 70px*1.2=84px/10.8(1vh)=7.777vh  */
            line-height:      2.222vh;              /*  20px*1.2=24px/10.8(1vh)=2.222vh  */
            background-color: #ffffff;
        }
      
        .chat-content-right {
            width:            30vw;                 /*  480px*1.2=576px/19.2(1vw)=30vw  */
            padding:          2.222vh 1.25vw;       /*  20px*1.2=24px/10.8(1vh)=2.222vh & 20px*1.02=24px/19.2(1vw)=1.25vw  */
            border-radius:    15px 15px 0 15px;
            margin:           0 7.777vh 1.111vh 0;  /*  10px*1.2=12px/10.8(1vh)=1.111vh & 70px*1.2=84px/10.8(1vh)=7.777vh  */
            line-height:      2.222vh;              /*  20px*1.2=24px/10.8(1vh)=2.222vh  */
            background-color: #b2acba;
        }      


    /*  ========================================================================  *\
        M E S S E A G E
    \*  ========================================================================  */

    .message-section {

        width:         auto;
        height:        11.111vh;                         /*  140px*1.2=168px-paddings(2*20px*1.2=48px)=120px/10.8(1vh)=11.111vh  */
        padding:       2.222vh 7.777vh 2.222vh 2.222vh;  /*  20px*1.2=24px/10.8(1vh)=2.222vh  */
        border-left:   2px solid #F4F3F5;
        background:    #FFFFFF;
        opacity:       1;
    }
    
        .message-form {
            position:   relative;
            background: #F4F3F5;
            opacity:    1;
        }

            .message-textarea {
                position:         absolute;
                width:            65.104vw;             /*  1250px/19.2(1vw)=65.104vw  */
                height:           8.889vh;              /*  100px*1.2=120px/10.8(1vh)=11.111vh-padding(2.222vh)=8.889vh  */
                padding:          1.777vh 0 0 2.666vh;  /*  16px*1.2=19.2px/10.8(1vh)=1.777vh & 
                                                            24px*1.2=28.8px/10.8(1vh)=2.666vh  */
                border:           0;                    /*  0px  */
                border-bottom:    0.333vh solid;        /*  3.6px  */
                border-color:     transparent;
                outline:          0;                    /*  0px  */
                background-color: #F4F3F5;
                opacity:          0.75;                 /*  75%  */
            }

                .message-textarea:focus { 
                    border-bottom: 3px solid #6200ea;
                    opacity:       1;                    /*  100%  */
                }

                .message-textarea::placeholder {
                    font-weight: bold;
                    opacity:     0.25;  /*  25%  */
                }

                .message-paperclip-icon,
                .message-smile-icon {
                    position:  absolute;
                    top:       1.666vh;   /*  15px*1.2=18px/10.8(1vh)=1.666vh  */
                    right:     11.574vh;  /*  125px  */
                    font-size: 2.222vh;   /*  20px*1.2=24px/10.8(1vh)=2.222vh  */
                    opacity:   0.25;      /*  25%  */
                }
    
                .message-paperclip-icon { 
                    right: 18.055vh;  /*  195px  */ 
                }

            .message-button {
                float:            right;
                cursor:           pointer;
                width:            5.555vh;  /*  60px/10.8(1vh)=5.555vh;  */
                height:           5.555vh;  /*  60px/10.8(1vh)=5.555vh;  */
                margin:           0 auto;
                padding:          10px;
                border:           none;
                border-radius:    50%;
                background-color: #6200ea;
                text-align:       center;
            }

                .button-icon {
                    text-align:     center;
                    font:           normal normal bold 20px/20px Font Awesome 5 Free;
                    letter-spacing: 0px;
                    color:          #ffffff;
                    opacity:        1;
                }